@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
*,
*::before,
*::after {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

:root {
    --pink-orange-gradient: linear-gradient(to top, #F23695, #FD6556);
    --text-muted-color: #8E90A3;
    --footer-bg-color: #12183F;
    --blue-pink-gradient: linear-gradient(to top, #DD2DAF, #9B3ED3);
    --main-btn-color: #F23695;
}

html {
    font-size: 62.5%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
    border: solid 1px green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: content;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: solid 1px red;
}

nav {
    padding: 1.6rem 0rem;
}

.logo {
    font-size: 3.4rem;
    flex-grow: 1;
}

main.wrapper {
    flex-direction: column;
    align-items: center;
}

.hero.container {}

.btn {
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 60px;
    width: 200px;
    font-size: 1.8rem;
    background-color: #12183F;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
}

.btn--banner {
    background: var(--pink-orange-gradient);
}

.btn--footer {
    background: var(--blue-pink-gradient);
}

.hero {}

.hero h1 {
    font-size: 5.6rem;
}

.hero p {
    font-size: 1.8rem;
    color: var(--text-muted-color);
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.hero-left h1,
.hero-left p {
    padding-bottom: 3rem;
}

.hero-right>img {
    max-width: 500px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid 2px black;
}

.product--featured {
    background: var(--pink-orange-gradient);
    color: white;
    height: 15rem;
    align-items: center;
}

.product {
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 350px;
    border: 2px solid red;
    /* margin-bottom: 1.5rem; */
}

.product--featured .product__title {
    font-size: 3.2rem;
}

.product__title {
    font-size: 2.4rem;
}

.product__subtitle {
    font-size: 1.8rem;
    color: var(--text-muted-color);
    line-height: 2.8rem;
}

.product__link {
    color: var(--main-btn-color);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 60px;
    width: 200px;
    font-size: 20px;
    background-color: #12183F;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
}

.btn--banner {
    background: var(--pink-orange-gradient);
}

footer {
    background-color: var(--footer-bg-color);
    color: white;
    height: 15rem;
}